  <Exec>
    <Command>powershell.exe</Command>
    <Arguments>-NoProfile -NoLogo -NonInteractive -WindowStyle Hidden -ExecutionPolicy Bypass -file {{executorScript}} {{{args}}}{{{envArgs}}}</Arguments>
  </Exec>