  <CalendarTrigger>
    <StartBoundary>{{startBoundary}}</StartBoundary>
    <Enabled>true</Enabled>
    {{#daysOfWeek}}
    <ScheduleByWeek>
        <DaysOfWeek>{{{daysOfWeek}}}</DaysOfWeek>
        <WeeksInterval>1</WeeksInterval>
    </ScheduleByWeek>
    {{/daysOfWeek}}
    {{#daysOfMonth}}
    <ScheduleByMonth>
        <DaysOfMonth>{{{daysOfMonth}}}</DaysOfMonth>
        <Months>
            <January /><February /><March /><April /><May /><June />
            <July /><August /><September /><October /><November /><December />
        </Months>
    </ScheduleByMonth>
    {{/daysOfMonth}}
    {{#everyDay}}
    <ScheduleByDay>
        <DaysInterval>1</DaysInterval>
    </ScheduleByDay>
    {{/everyDay}}
  </CalendarTrigger>