  <RegistrationInfo>
    <Description><![CDATA[
  <Metadata>
    <Name>Kortex scheduled task: {{{id}}}</Name>
{{{metadataXml}}}
  </Metadata>
]]></Description>
    <URI>\\Kortex\\{{{escapedId}}}</URI>
  </RegistrationInfo>