<?xml version="1.0"?>
<Task version="1.2" xmlns="http://schemas.microsoft.com/windows/2004/02/mit/task">
  <RegistrationInfo>
    <Description><![CDATA[
  <Metadata>
    <Name>Kortex scheduled task: {{{id}}}</Name>
{{{metadataXml}}}
  </Metadata>
]]></Description>
    <URI>\\Kortex\\{{{escapedId}}}</URI>
  </RegistrationInfo>
  <Triggers>
{{#timeTriggers}}
  <TimeTrigger>
    <Repetition>
    <Interval>PT{{intervalMinutes}}M</Interval>
    <StopAtDurationEnd>false</StopAtDurationEnd>
    </Repetition>
    <StartBoundary>2025-01-01T00:00:00</StartBoundary>
    <Enabled>true</Enabled>
  </TimeTrigger>
{{/timeTriggers}}
{{#calendarTriggers}}
  <CalendarTrigger>
    <StartBoundary>{{startBoundary}}</StartBoundary>
    <Enabled>true</Enabled>
    {{#daysOfWeek}}
    <ScheduleByWeek>
        <DaysOfWeek>{{{daysOfWeek}}}</DaysOfWeek>
        <WeeksInterval>1</WeeksInterval>
    </ScheduleByWeek>
    {{/daysOfWeek}}
    {{#daysOfMonth}}
    <ScheduleByMonth>
        <DaysOfMonth>{{{daysOfMonth}}}</DaysOfMonth>
        <Months>
            <January /><February /><March /><April /><May /><June />
            <July /><August /><September /><October /><November /><December />
        </Months>
    </ScheduleByMonth>
    {{/daysOfMonth}}
    {{#everyDay}}
    <ScheduleByDay>
        <DaysInterval>1</DaysInterval>
    </ScheduleByDay>
    {{/everyDay}}
  </CalendarTrigger>
{{/calendarTriggers}}
  </Triggers>
  <Principals>
    <Principal id="Author">
      <LogonType>InteractiveToken</LogonType>
      <RunLevel>LeastPrivilege</RunLevel>
    </Principal>
  </Principals>
  <Settings>
    <MultipleInstancesPolicy>IgnoreNew</MultipleInstancesPolicy>
    <DisallowStartIfOnBatteries>false</DisallowStartIfOnBatteries>
    <StopIfGoingOnBatteries>false</StopIfGoingOnBatteries>
    <AllowHardTerminate>true</AllowHardTerminate>
    <StartWhenAvailable>true</StartWhenAvailable>
    <RunOnlyIfNetworkAvailable>false</RunOnlyIfNetworkAvailable>
    <IdleSettings>
      <StopOnIdleEnd>false</StopOnIdleEnd>
      <RestartOnIdle>false</RestartOnIdle>
    </IdleSettings>
    <AllowStartOnDemand>true</AllowStartOnDemand>
    <Enabled>true</Enabled>
    <Hidden>false</Hidden>
    <RunOnlyIfIdle>false</RunOnlyIfIdle>
    <WakeToRun>false</WakeToRun>
    <ExecutionTimeLimit>PT0S</ExecutionTimeLimit>
    <Priority>7</Priority>
  </Settings>
  <Actions Context="Author">
  <Exec>
    <Command>powershell.exe</Command>
    <Arguments>-NoProfile -NoLogo -NonInteractive -WindowStyle Hidden -ExecutionPolicy Bypass -file {{executorScript}} {{{args}}}{{{envArgs}}}</Arguments>
  </Exec>
  </Actions>
</Task>
