  <TimeTrigger>
    <Repetition>
    <Interval>PT{{intervalMinutes}}M</Interval>
    <StopAtDurationEnd>false</StopAtDurationEnd>
    </Repetition>
    <StartBoundary>2025-01-01T00:00:00</StartBoundary>
    <Enabled>true</Enabled>
  </TimeTrigger>