[Desktop Entry]
Name=Kaiden
Exec=run.sh %U
Terminal=false
Type=Application
Icon=ai.openkaiden.Kaiden
StartupWMClass=Kaiden
Categories=Development;
Keywords=
X-Flatpak=ai.openkaiden.Kaiden
