[Desktop Entry]
Name=Kortex
Exec=run.sh %U
Terminal=false
Type=Application
Icon=dev.kortex_hub.Kortex
StartupWMClass=Kortex
Categories=Development;
Keywords=
X-Flatpak=dev.kortex_hub.Kortex
