apiVersion: v1
kind: Secret
metadata:
  name: goose-{{{ provider.name }}}-credentials
  labels:
    app: goose
  annotations:
    {{& annotations.version }}: {{ kortex.version }}
    {{& annotations.flowId }}: {{{ recipe.flowId }}}
stringData:
  {{#provider.credentials.env}}
    {{ key }}: {{ value }}
  {{/provider.credentials.env}}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ job.name }}
  labels:
    app: goose
  annotations:
    {{& annotations.version }}: {{ kortex.version }}
    {{& annotations.flowId }}: {{{ recipe.flowId }}}
spec:
  template:
    metadata:
      annotations:
        {{& annotations.version }}: {{ kortex.version }}
        {{& annotations.flowId }}: {{{ recipe.flowId }}}
    spec:
      containers:
        - name: goose
          image: {{& container }}
          command: ['/usr/local/bin/goose']
          args: [
            'run',
            '--recipe',
            '/home/goose/recipe.yaml',
            {{#recipe.params}}
            '--params',
            '{{ key }}={{& value }}',
            {{/recipe.params}}
          ]
          envFrom:
            - secretRef:
                name: goose-{{ provider.name }}-credentials
          volumeMounts:
            - name: goose-recipe-volume
              mountPath: /home/goose/recipe.yaml
              subPath: recipe.yaml
      volumes:
        # Goose recipe
        - name: goose-recipe-volume
          configMap:
            name: goose-recipe-{{ recipe.name }}
      restartPolicy: Never
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: goose-recipe-{{{ recipe.name }}}
  labels:
    app: goose
  annotations:
    {{& annotations.version }}: {{ kortex.version }}
    {{& annotations.flowId }}: {{{ recipe.flowId }}}
data:
  recipe.yaml: |
  {{#recipe.content }}
    {{&.}}
  {{/recipe.content }}
