apiVersion: v1
kind: Secret
metadata:
  name: goose-{{ provider.name }}-credentials
  labels:
    app: goose
  annotations:
    kortex-hub/version: {{ kortex.version }}
  namespace: {{ namespace }}
stringData:
  {{#provider.credentials.env}}
    {{ key }}: {{ value }}
  {{/provider.credentials.env}}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: goose-recipe-{{ recipe.name }}
  labels:
    app: goose
  annotations:
    kortex-hub/version: {{ kortex.version }}
  namespace: {{ namespace }}
spec:
  template:
    spec:
      containers:
        - name: goose
          image: {{& container }}
          command: ['/usr/local/bin/goose']
          args: ['run', '--recipe', '/home/goose/recipe.yaml']
          envFrom:
            - secretRef:
                name: goose-{{ provider.name }}-credentials
            - configMapRef:
                name: goose-config
          volumeMounts:
            - name: goose-recipe-volume
              mountPath: /home/goose/recipe.yaml
              subPath: recipe.yaml
      volumes:
        # Goose recipe
        - name: goose-recipe-volume
          configMap:
            name: goose-recipe-{{ recipe.name }}
      restartPolicy: Never
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: goose-config
  labels:
    app: goose
  annotations:
    kortex-hub/version: {{ kortex.version }}
  namespace: {{ namespace }}
data:
  goose-config.yaml: |
    GOOSE_PROVIDER: {{ provider.name }}
    GOOSE_MODEL: {{ provider.model }}
    extensions: {}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: goose-recipe-{{ recipe.name }}
  labels:
    app: goose
  annotations:
    kortex-hub/version: {{ kortex.version }}
  namespace: {{ namespace }}
data:
  recipe.yaml: |
  {{#recipe.content }}
    {{&.}}
  {{/recipe.content }}
