title: {{ recipe.title }}
name: {{ recipe.name }}
description: {{ recipe.description }}

# Required for headless mode
prompt: {{ &recipe.prompt }}

instructions: |
  {{#recipe.instructions }}
    {{&.}}
  {{/recipe.instructions }}

extensions:
  {{#recipe.extensions }}
  - name: "{{ name }}"
    type: "{{ type }}"
    uri: "{{ &uri }}"
    headers:
    {{#headers }}
      {{ key }}: "{{ value }}"
    {{/headers }}
  {{/recipe.extensions }}


settings:
  goose_provider: {{ &recipe.settings.goose_provider }}
  goose_model: {{ &recipe.settings.goose_model }}
