title: {{ recipe.title }}
name: {{ recipe.name }}
description: |
  {{#recipe.description }}
    {{&.}}
  {{/recipe.description }}

{{#recipe.hasParameters}}
parameters:
{{#recipe.parameters}}
  - key: "{{{ name }}}"
    input_type: "{{{ format }}}"
    requirement: {{#required}}required{{/required}}{{^required}}optional{{/required}}
{{#description}}
    description: "{{{ description }}}"
{{/description}}
{{#default}}
    default: "{{&default}}"
{{/default}}
{{/recipe.parameters}}

{{/recipe.hasParameters}}
# Required for headless mode
prompt: |
  {{#recipe.prompt }}
    {{&.}}
  {{/recipe.prompt }}

instructions: |
  {{#recipe.instructions }}
    {{&.}}
  {{/recipe.instructions }}

extensions:
  {{#recipe.extensions }}
  - name: "{{ name }}"
    type: "{{ type }}"
    uri: "{{ &uri }}"
    headers:
    {{#headers }}
      {{ key }}: "{{ value }}"
    {{/headers }}
  {{/recipe.extensions }}
  {{^recipe.extensions}}
  []
  {{/recipe.extensions}}


settings:
  goose_provider: {{ &recipe.settings.goose_provider }}
  goose_model: {{ &recipe.settings.goose_model }}
